<!DOCTYPE html>
<html ng-app="<%= _.slugify(appname) %>">
<head>
  <title></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">

  <!-- App LESS -->
  <link href="css/app.less" type="text/css" rel="stylesheet/less">

</head>
<body>

  <!-- Livereload script for development only (stripped during dist build) -->
  <script src="http://localhost:35729/livereload.js" data-build="exclude"></script>

  <!-- JS from Bower components -->
  <script src="bower_components/less.js/dist/less-1.5.0.js" data-build="exclude"></script>
  <script src="bower_components/jquery/jquery.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script src="bower_components/underscore/underscore.js"></script>
  <script src="bower_components/moment/moment.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="<%= routerJs %>"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <script src="bower_components/angular-ui-utils/ui-utils.js"></script>


  <!-- Main App JS -->
  <script src="js/setup.js"></script>

  <!-- Service JS -->
  <!-- Add New Service JS Above -->

  <!-- Directive JS -->
  <!-- Add New Directive JS Above -->

  <!-- Filter JS -->
  <!-- Add New Filter JS Above -->

  <!-- Partial JS -->
  <!-- Add New Partial JS Above -->

  <div>
    <div id="content" class="container">
      <div class="row">
        <div <%= routerViewDirective %>>
        </div>
      </div>
    </div>
  </div>

</body>
</html>
